
.nav-barr {
  
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background-color: var(--azul-uno);
  justify-items: center;
  align-items: center;
  position: fixed;
  
}
.header-section-logo {
  img {
    width: 30%;
  }
}
.tittle-valid {  
  color: var(--white);
}
